.answer {
    padding: 5px;
    margin: 5px 2px;
}

.missing {
    background-color: rgb(255, 207, 123);
    border: solid 1px orange;
}
.wrong {
    background-color: tomato;
    border: solid 1px red;
}
.right {
    background-color: rgb(198, 228, 135);
    border: solid 1px yellowgreen;
}

.final_score {
    margin: 5px 2px;
    padding: 0 10px 15px 10px;
    font-weight: bolder;
    background-color: rgb(240, 240, 240);
    border: solid 1px rgb(182, 182, 182);
}